<p>
  {{title | uppercase}}
</p>

<p>
  {{chiffre | number: '2.3-4'}}
</p>

<p>
  {{unAutreChiffre | percent: '2.3-4'}}
</p>

<p>
  {{unPrix | currency: 'USD':'symbol'}}
</p>

<p>
  {{aujourdhui | date: 'longTime'}}
</p>

<!-- <app-formulaire2></app-formulaire2> -->
<a class="btn btn-outline-success" routerLink="/form1">Ouvrir formulaire 1</a>
&nbsp;&nbsp;
<a class="btn btn-outline-danger" routerLink="/form2">Ouvrir formulaire 2</a>
<div class="w50 mx-auto my-5">
  <router-outlet></router-outlet>
</div>